<!-- <app-nav></app-nav>

<section>

</section> -->

<div id="search-component">
    <h4>Search The System</h4>
  
    <form [formGroup]="searchForm" (ngSubmit)="onEnter(dropdown.value, searchField.value)">
  <select #dropdown>
    <option value="people">People</option>
    <option value="starships">Ships</option>
    <option value="films">Films</option>
  </select>
  <input #searchField> 
  <button>Ignition</button>
</form>
  </div>

    <div *ngIf="data"> 
    {{data.results| json}}</div>
    

    <router-outlet></router-outlet>

